.body{
    height: 100vh;
    background: white;
}
.grid-mainfeed{
    /* height: 100vh; */
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.sub-container{
    grid-area: 1/3/12/9;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-left:1px solid rgb(200, 200,200) ;
    border-right: 1px solid rgb(200, 200,200);
    background-color: white;
    height: 100%;

}

.side-bar-container{
    grid-area: 1/1/12/3;
    display: flex;
    flex-direction: column;

}
