@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}


/* .loginpage body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	width: 100wh;
	margin: -20px 0 50px;
} */


.loginpage {
  display: block;
  transform: translate(25%, 25%); 
  /* width: 100vw;
  height: 100vh; */
  /* justify-items: center;
  align-items: center; */
  /* margin-left: 30px;  */
}

.loginpage .header1-login {
	font-weight: bold;
	margin: 0;
}


.loginpage .p-login {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.loginpage .span {
	font-size: 12px;
}

.loginpage .social {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.loginpage .button-login{
	border-radius: 20px;
	border: 1px solid #4BCCFF;
	background-color: #4BCCFF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.loginpage .button-login:active {
	transform: scale(0.95);
}

.loginpage .button-login:focus {
	outline: none;
}

.loginpage .ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.loginpage .form-login {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.loginpage .input-login {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.loginpage .container-login {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.loginpage .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.loginpage .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}




.loginpage .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
	animation: show 0.6s;
}


@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.loginpage .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}


.loginpage .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #0984e3, #4BCCFF);
	background: linear-gradient(to right, #0984e3, #4BCCFF);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transition: transform 0.6s ease-in-out;
}



.loginpage .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transition: transform 0.6s ease-in-out;
}

.loginpage .overlay-left {
	transform: translateX(0);
}

.loginpage .container-login.right-panel-active .overlay-left {
	transform: translateX(0);

}

.loginpage .overlay-right {
	right: 0;
	transform: translateX(0);
}





.loginpage .social-container {
	margin: 20px 0;
}

.loginpage .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


.loginpage .container-login.right-panel-active .overlay-right {
	transform: translateX(20%);

}

.loginpage .container-login.right-panel-active .sign-in-container {
	transform: translateX(100%);
	background-color: black;
}

.loginpage .container-login.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}



.loginpage .container-login.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.loginpage .container-login.right-panel-active .overlay {
	transform: translateX(50%);
}
