.body{

    background-color: white;
}

.post-list-link {
  color: black;
  text-decoration-line: none;
}

.post-list-link:hover {
  color: black;
  text-decoration-line: none;
} 

.post{
    height: 20vh;
    width: 90%;
    background-color: #FBFBFB;
    text-align: left;
    position: static;
    display: flex;
    margin-top: 20px;
    /* padding-top: ; */
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    box-shadow: 5px 5px 5px rgb(211, 211, 211);
}

.post:hover{
  opacity: 1;
  transition: 0.3s;
}

.img-post{
    /* margin: 5px 5px 0px; */
    border-radius: 50%;
    background-color: thistle;
    height: 130px;
    width: 130px;
    position: static;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;


}
.detail{
    text-align: left;
    font-size: 13px;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}


.dot {
    height: 25px;
    width: 25px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  .tag-subject{
    display: flex;
    align-items: center;
    height: 35px;
  }
  .topic{
    margin-top: 8px;
    font-weight:bold;
    font-size: 16px;
  }

.numjoin{
  height: 22%;
  width: 20%;
  margin: 5px 5px 5px 0;
  text-align: center;
  border-radius: 15px;
  border: 15px;
  max-width: 90px;
}

.numjoin p{
  margin-top: 15%;
  margin-bottom: 10%;
}

.post-list-link img{
  width: 130px;
  height: 130px;
}